In [1]:
import pandas as pd

In [2]:
df_actores = pd.read_csv('./Datasets/actores.csv')
df_directores = pd.read_csv('./Datasets/directores.csv')
df_fecha_estreno = pd.read_csv('./Datasets/fecha_estreno.csv')
df_score_votos = pd.read_csv('./Datasets/score_votos.csv')

In [15]:
df_fecha_estreno['release_date'].dtype

dtype('O')

In [16]:
df_fecha_estreno.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45376 entries, 0 to 45378
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_date  45376 non-null  object
dtypes: object(1)
memory usage: 709.0+ KB

In [10]:
df_fecha_estreno.dropna(subset=['release_date'], inplace=True)

In [53]:
def cantidad_filmaciones_mes( Mes: str ):
    '''
    Se ingresa un mes en idioma Español y devuelve la cantidad de películas que fueron estrenadas en ese mes.

    Parametros
    ----------
    mes : str

    Retorno
    -------
    Cantidad de películas estrenadas en el mes consultado

    '''

    # Convertir 'release_date' a tipo datetime
    df_fecha_estreno['release_date'] = pd.to_datetime(df_fecha_estreno['release_date'], format='%Y-%m-%d', errors='coerce')

    #Crea una lista con los meses en español
    meses = ['','Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio','Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
    
    # Si mes es un número, convertir directamente a entero
    if Mes.isdigit():
        numero_mes = int(Mes)
        if numero_mes < 1 or numero_mes > 12:
            return "El número de mes debe estar entre 1 y 12"
    else:
        # Si es un string, convertir el nombre del mes a su número correspondiente
        try:
            numero_mes = list(meses).index(Mes.capitalize())
        except ValueError:
            return f"El mes '{Mes}' no está en la lista de meses válidos"
    
    # Contar cuántos registros contienen el mes especificado
    resultado = df_fecha_estreno[df_fecha_estreno['release_date'].dt.month == numero_mes].shape[0]

    return f"{resultado} películas fueron estrenadas en el mes {numero_mes}"

In [54]:
mes = '16'

cantidad_filmaciones_mes(mes)

'El número de mes debe estar entre 1 y 12'

In [24]:
df_fecha_estreno[df_fecha_estreno['release_date'].dt.month == 11]

      release_date
9       1995-11-16
10      1995-11-17
15      1995-11-22
18      1995-11-10
19      1995-11-21
...            ...
45323   2004-11-11
45324   2006-11-23
45327   2007-11-29
45341   2015-11-07
45375   2011-11-17

[3661 rows x 1 columns]